carnelian.wsdl

<?xml version="1.0" ?><wsdl:definitions name="CarnelianWebServiceImplService" targetNamespace="http://webservice.carnelian.ccti.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.carnelian.ccti.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://webservice.carnelian.ccti.com/" version="1.0" xmlns:tns="http://webservice.carnelian.ccti.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="requestTransaction" type="tns:requestTransaction"></xs:element>
<xs:element name="requestTransactionResponse" type="tns:requestTransactionResponse"></xs:element>
<xs:element name="updateTransactionStatus" type="tns:updateTransactionStatus"></xs:element>
<xs:element name="updateTransactionStatusResponse" type="tns:updateTransactionStatusResponse"></xs:element>
<xs:complexType name="requestTransaction">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:requestHeader"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="arg2" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="requestHeader">
<xs:sequence>
<xs:element minOccurs="0" name="password" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="username" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="requestTransactionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:requestTransactionResult"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="requestTransactionResult">
<xs:sequence>
<xs:element minOccurs="0" name="errorMessage" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="isError" type="xs:int"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="remittanceResponseList" nillable="true" type="tns:remittanceResponse"></xs:element>
<xs:element minOccurs="0" name="requestHeader" type="tns:requestHeader"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="remittanceResponse">
<xs:sequence>
<xs:element minOccurs="0" name="beneficiaryName" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="messageToRecipient" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="remitterName" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="transactionAmount" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="transactionCurrency" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="transactionRefNo" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateTransactionStatus">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:requestHeader"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:int"></xs:element>
<xs:element minOccurs="0" name="arg2" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="arg3" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="arg4" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="arg5" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateTransactionStatusResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:transactionUpdateResult"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="transactionUpdateResult">
<xs:sequence>
<xs:element minOccurs="0" name="errorMessage" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="isError" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="updateTransactionStatusResponse">
    <wsdl:part element="tns:updateTransactionStatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateTransactionStatus">
    <wsdl:part element="tns:updateTransactionStatus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestTransaction">
    <wsdl:part element="tns:requestTransaction" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestTransactionResponse">
    <wsdl:part element="tns:requestTransactionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CarnelianWebService">
    <wsdl:operation name="requestTransaction">
      <wsdl:input message="tns:requestTransaction" name="requestTransaction">
    </wsdl:input>
      <wsdl:output message="tns:requestTransactionResponse" name="requestTransactionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTransactionStatus">
      <wsdl:input message="tns:updateTransactionStatus" name="updateTransactionStatus">
    </wsdl:input>
      <wsdl:output message="tns:updateTransactionStatusResponse" name="updateTransactionStatusResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarnelianWebServiceImplServiceSoapBinding" type="tns:CarnelianWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="requestTransaction">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="requestTransaction">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="requestTransactionResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTransactionStatus">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="updateTransactionStatus">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="updateTransactionStatusResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarnelianWebServiceImplService">
    <wsdl:port binding="tns:CarnelianWebServiceImplServiceSoapBinding" name="CarnelianWebServiceImplPort">
      <soap:address location="https://172.20.20.198:8181/carnelian-web-service-server/cxf/carnelian"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>