RemittancePartnerControlLibrary/Web References/RemittancePartnerWebReference/RemittancePartnerWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://pjlhuillier.org/remittance/partner/nybp" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://pjlhuillier.org/remittance/partner/nybp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pjlhuillier.org/remittance/partner/nybp">
      <s:element name="ExposeProxyClasses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cebuanaCustomerInformation" type="tns:CebuanaCustomerInformation" />
            <s:element minOccurs="0" maxOccurs="1" name="cebuanaCustomerID" type="tns:CebuanaCustomerID" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CebuanaCustomerInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegisteredIDs" type="tns:ArrayOfCebuanaCustomerID" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondaryIDs" type="tns:ArrayOfCebuanaCustomerID" />
          <s:element minOccurs="0" maxOccurs="1" name="PickupDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReasonRemarks" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimaryIDIssuanceDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimaryIDExpirationdate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondaryIDCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondaryIDType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondaryIDNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondaryIDIssuanceDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondaryIDExpirationdate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverStreet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverBarangay" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverProvince" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverZipCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MobileNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DateOfBirth" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCebuanaCustomerID">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CebuanaCustomerID" nillable="true" type="tns:CebuanaCustomerID" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CebuanaCustomerID">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IDCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IDDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExposeProxyClassesResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemittancePartnerLookup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lookupTransactionRequest" type="tns:LookupTransactionRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LookupTransactionRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CebuanaBranchInformation" type="tns:CebuanaBranchInformation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CebuanaBranchInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BranchUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BranchName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BranchCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BranchAreaCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BranchRegionCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientApplicationVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientMacAddress" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RemittancePartnerLookupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemittancePartnerLookupResult" type="tns:LookupTransactionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LookupTransactionResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="tns:LookupTransactionResultCode" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageToClient" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionStatus" type="tns:TransactionStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PayoutAmount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="PayoutCurrency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PayoutCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BeneficiaryLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BeneficiaryFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MultiCurrencyPayoutCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LookupTransactionResultCode">
        <s:restriction base="s:string">
          <s:enumeration value="UnrecognizedResponse" />
          <s:enumeration value="Successful" />
          <s:enumeration value="Unsuccessful" />
          <s:enumeration value="PartnerError" />
          <s:enumeration value="ServerError" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="TransactionStatus">
        <s:restriction base="s:string">
          <s:enumeration value="UnrecognizedStatus" />
          <s:enumeration value="ForPayout" />
          <s:enumeration value="Blocked" />
          <s:enumeration value="PaidOut" />
          <s:enumeration value="Cancelled" />
          <s:enumeration value="ProcessedForPayout" />
        </s:restriction>
      </s:simpleType>
      <s:element name="RemittancePartnerPayout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="payoutTransactionRequest" type="tns:PayoutTransactionRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PayoutTransactionRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CebuanaBranchInformation" type="tns:CebuanaBranchInformation" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PayoutAmount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="SendingCurrency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PayoutCurrency" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrencyConversionRate" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="PayoutCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverCustomerNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverIDCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverIDType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverIDNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PickupDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReasonRemarks" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimaryIDIssuanceDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimaryIDExpirationdate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondaryIDCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondaryIDType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondaryIDNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondaryIDIssuanceDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondaryIDExpirationdate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverStreet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverBarangay" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverProvince" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverZipCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MobileNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DateOfBirth" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RemittancePartnerPayoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemittancePartnerPayoutResult" type="tns:PayoutTransactionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PayoutTransactionResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="tns:PayoutTransactionResultCode" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageToClient" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PayoutDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PayoutTransactionResultCode">
        <s:restriction base="s:string">
          <s:enumeration value="UnrecognizedResponse" />
          <s:enumeration value="Successful" />
          <s:enumeration value="Unsuccessful" />
          <s:enumeration value="PartnerError" />
          <s:enumeration value="ServerError" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExposeProxyClassesSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeProxyClasses" />
  </wsdl:message>
  <wsdl:message name="ExposeProxyClassesSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeProxyClassesResponse" />
  </wsdl:message>
  <wsdl:message name="RemittancePartnerLookupSoapIn">
    <wsdl:part name="parameters" element="tns:RemittancePartnerLookup" />
  </wsdl:message>
  <wsdl:message name="RemittancePartnerLookupSoapOut">
    <wsdl:part name="parameters" element="tns:RemittancePartnerLookupResponse" />
  </wsdl:message>
  <wsdl:message name="RemittancePartnerPayoutSoapIn">
    <wsdl:part name="parameters" element="tns:RemittancePartnerPayout" />
  </wsdl:message>
  <wsdl:message name="RemittancePartnerPayoutSoapOut">
    <wsdl:part name="parameters" element="tns:RemittancePartnerPayoutResponse" />
  </wsdl:message>
  <wsdl:portType name="RemittancePartnerWebServiceSoap">
    <wsdl:operation name="ExposeProxyClasses">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to expose proxy classes. Does not do anything but allow the clients to use the class.</wsdl:documentation>
      <wsdl:input message="tns:ExposeProxyClassesSoapIn" />
      <wsdl:output message="tns:ExposeProxyClassesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemittancePartnerLookup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Partner reference number lookup method.</wsdl:documentation>
      <wsdl:input message="tns:RemittancePartnerLookupSoapIn" />
      <wsdl:output message="tns:RemittancePartnerLookupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemittancePartnerPayout">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Partner reference number payout method.</wsdl:documentation>
      <wsdl:input message="tns:RemittancePartnerPayoutSoapIn" />
      <wsdl:output message="tns:RemittancePartnerPayoutSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RemittancePartnerWebServiceSoap" type="tns:RemittancePartnerWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExposeProxyClasses">
      <soap:operation soapAction="http://pjlhuillier.org/remittance/partner/nybp/ExposeProxyClasses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemittancePartnerLookup">
      <soap:operation soapAction="http://pjlhuillier.org/remittance/partner/nybp/RemittancePartnerLookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemittancePartnerPayout">
      <soap:operation soapAction="http://pjlhuillier.org/remittance/partner/nybp/RemittancePartnerPayout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RemittancePartnerWebServiceSoap12" type="tns:RemittancePartnerWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExposeProxyClasses">
      <soap12:operation soapAction="http://pjlhuillier.org/remittance/partner/nybp/ExposeProxyClasses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemittancePartnerLookup">
      <soap12:operation soapAction="http://pjlhuillier.org/remittance/partner/nybp/RemittancePartnerLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemittancePartnerPayout">
      <soap12:operation soapAction="http://pjlhuillier.org/remittance/partner/nybp/RemittancePartnerPayout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemittancePartnerWebService">
    <wsdl:port name="RemittancePartnerWebServiceSoap" binding="tns:RemittancePartnerWebServiceSoap">
      <soap:address location="http://localhost:43047/RemittancePartnerWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="RemittancePartnerWebServiceSoap12" binding="tns:RemittancePartnerWebServiceSoap12">
      <soap12:address location="http://localhost:43047/RemittancePartnerWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>